.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  width: 480px;
}

.header {
  font-size: 24px;
  margin: 5px 0;
}

.words {
  margin: auto;
  max-width: 315px;
}

.word {
  width: 100%;
  display: flex;
  justify-content: center;
}

.character {
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 7px 2px;
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
  width: 40px;
}

input,
button {
  margin: 5px 0;
}

[type='submit'] {
  margin-left: 5px;
}

input[type='text'] {
  height: 40px;
  width: 100%;
  padding: 0 2px;
  font-size: 1rem;
}

button,
[type='submit'] {
  color: black;
  height: 40px;
  width: 100%;
  background: white;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  margin: 5px;
}

.feedback {
  margin: 5px 0;
}

.instructions {
  position: relative;
}

.instructions .hide {
  position: absolute;
  right: 5px;
  top: 5px;
}

.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard-character {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 7px 2px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 8px;
  height: 40px;
  width: 30px;
}

.keyboard-command {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 7px 2px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 8px;
  height: 40px;
  width: 60px;
}

.game-buttons button {
  background-color: lightgrey;
  border: none;
}

.social-link img {
  margin: 10px;
  height: 30px;
}

.quote {
  margin: 5px 0;
}

@media (max-width: 480px) {
  .game {
    width: 100%;
  }
}
