.app {
  padding: 10px;
}

input, button {
  margin: 5px 0;
}

[type='submit'] {
  margin-left: 5px;
}

button,
[type='submit'] {
  background: white;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.feedback {
  margin: 5px 0;
}

a {
  margin: 5px;
}
